In [1]:
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import tensorflow as tf

In [3]:
with open('label_encoder.pkl', 'rb') as file:
    label = pickle.load(file)

In [4]:
with open('onehot_encoder.pkl', 'rb') as file:
    onehot = pickle.load(file)

In [5]:
with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

In [6]:
model = load_model('model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [7]:
user = {'Pclass':3, 'Sex':'female', 'SibSp':1, 'Parch':1, 'Fare':11, 'Embarked':'Queenstown'}

In [9]:
user = pd.DataFrame([user])

In [10]:
user

   Pclass     Sex  SibSp  Parch  Fare    Embarked
0       3  female      1      1    11  Queenstown

In [11]:
user['Sex']=label.transform(user['Sex'])

In [12]:
user

   Pclass  Sex  SibSp  Parch  Fare    Embarked
0       3    0      1      1    11  Queenstown

In [15]:
embarked = onehot.transform(user[['Embarked']])

In [18]:
embarked = pd.DataFrame(embarked, columns=onehot.get_feature_names_out())

In [19]:
embarked

   Embarked_Chebourg  Embarked_Queenstown  Embarked_Southampton
0                0.0                  1.0                   0.0

In [20]:
user =  pd.concat([user.drop(columns = ['Embarked']), embarked], axis = 1)

In [21]:
user

   Pclass  Sex  ...  Embarked_Queenstown  Embarked_Southampton
0       3    0  ...                  1.0                   0.0

[1 rows x 8 columns]

In [22]:
user[['Pclass',	'SibSp', 'Parch' ,'Fare']] = scaler.transform(user[['Pclass',	'SibSp', 'Parch' ,'Fare']])

In [23]:
user

     Pclass  Sex  ...  Embarked_Queenstown  Embarked_Southampton
0  0.824107    0  ...                  1.0                   0.0

[1 rows x 8 columns]

In [25]:
y= model.predict(user)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 53ms/step

In [26]:
y

array([[0.31130886]], dtype=float32)

In [27]:
if y>0.5:
    print('The passanger will likely survive the Titanic Journey')
else: 
    print('The passanger wont survive in the Titanic Journey ')

The passanger wont survive in the Titanic Journey